<nav class="nav-bar py-1  shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">
      
      <button class="btn btn-menu d-flex align-items-center gap-2 text-white border border-secondary px-3 py-1">
        <i class="bi bi-list fs-5"></i>
        <span class="fw-bold small">MENU</span>
      </button>

      <div class="login-trigger d-flex align-items-center text-white gap-2 py-1 px-2">
        <span class="small fw-bold letter-spacing-1">Log In</span>
        <i class="bi bi-person-circle fs-4"></i>
      </div>

    </div>
  </nav>